@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=Buda:wght@300&display=swap');

body {
  font-family: 'Buda', cursive;
  background-color: #1a090dff;
  color: #a8ba9aff;
}

.jumbotron {
  padding: 3rem;
  background-color: #4a314dff;
}

.sidebar {
  text-align: justify;
  float: right;
  color: #1a090dff;
  background-color: #56cbf9ff;
}

.sidebar li {
  margin-top: 0rem;
}

.cur-select h2 {
  text-align: center;
  align-self: center;
  font-size: 36pt;
}

h1 {
  font-size: 54pt;
  float: right;
  text-align: right;
}

span, p, ul, ol {
  font-family: 'Averia Serif Libre', cursive, serif;
}

ul li {
  margin-top: .5rem;
}

ul {
  list-style-type: none;
}

.entry-tip {
  clear: both;
  padding-left: 1rem;
  margin-top: .2rem;
}

::hover {
  color: #fde74cff;
}

.note {
  text-align: justify;
}